    .navbar-siad{
        background: #006df0;
        border-radius: 0px;
        border: 1px solid #006df0;
        margin: 0px;
        padding: 50px 0px;
    }

    .navbar-inverse .navbar-brand {

        color: #fff;

    }

    .navbar-inverse .navbar-nav > li > a {

        color: #fff;

    }
    .navbar-siad > li > a {

        color: #9d9d9d !important;

    }

    .banner{
        background: #006df0;
        border-radius: 0px;
        border: 1px solid #006df0;
        padding: 60px 0px;
    }

    .banner{
        color: white;
    }

    .banner a{
        padding: 15px 30px;
        color: white;
        border: 1px solid white;
        -webkit-transition: all 0.5s; 
        transition: all 0.5s;
        margin-right: 10px;
    }

    .banner a:hover{
        text-decoration: none;
        border: 1px dashed white;
    }

    .banner p{
        font-size: 13pt;
    }

    .navbar-brand {
        display: block;
        width: var(--logo-width);
        height: var(--logo-height);
        background-image: url('gambar/depan/itdel.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: var(--logo-position) center;
        padding: 20px;
        text-indent: 60px;
    }


